{% include "t.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* Your common styles here */
        .container{
            margin : 10rem
        }
    </style>
    <title>Day Information</title>
</head>
<body>
    <div class="container">
        <div class="day-info">
            <p>Hindi: {{hindi}}</p>
            <p>English: {{english}}</p>
        </div>
    </div>
</body>
</html>

